.about {
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    margin-bottom: 84px;
  }
}

.about__wrapper {
  display: flex;
}

.about__img {
  flex-shrink: 0;
  width: 150px;
  height: 320px;
  margin-right: 100px;

  @include vp-1023 {
    margin-right: 26px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__content {
  flex-grow: 1;
  color: #041827;
}

.about__content p:nth-child(4n) {
  margin-top: 0;

  @include vp-767 {
    display: none;
  }
}

.about__content p:nth-child(3n) {
  margin-bottom: 0;
  margin-top: 20px;

  @include vp-767 {
    margin-top: 20px;
  }
}

.about__content p:last-of-type {
  font-size: 0;
  opacity: 0;
  transition: $trans-default;
  height: 15px;

  @include vp-1023 {
    height: 7px;
  }

  @include vp-767 {
    margin-top: 0;
    height: 17px;
  }
}

.about__content--active p:last-of-type {
  height: auto;
  opacity: 1;
  font-size: 16px;
  margin-bottom: 15px;

  @include vp-1023 {
    height: auto;
  }

  @include vp-767 {
    height: auto;
  }
}

.about__content h2 {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  @include vp-767 {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 10px;
  }
}

.about__content p {
  color: #041827;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about__content button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: $color-page-blue;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $color-page-blue;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;
  min-width: 180px;
  min-height: 45px;
  margin-top: 15px;

  @include vp-1023 {
    margin-top: -7px;
  }

  @include vp-767 {
    min-width: 160px;
    min-height: 35px;
    padding: 5px 10px;
  }

  &::after {
    content: attr(data-button-content);
  }

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover {
      background-color: #d3d3d3;
      color: $color-default-white;
    }
  }

  &:focus {
    background-color: $color-page-white;
    border: 3px solid #1e90ff;
    color: $color-page-blue;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.about__content--active button {
  &::after {
    content: attr(data-button-content-isactive);
  }
}
