.about {
  margin-bottom: 100px;
}

.about__wrapper {
  display: flex;
}

.about__img {
  flex-shrink: 0;
  width: 150px;
  height: 320px;
  margin-right: 100px;

  @include vp-767 {
    display: none;
  }
}

.about__content {
  flex-grow: 1;
  color: #041827;
}

.about__content p:last-of-type {
  font-size: 0;
  opacity: 0;
  height: 15px;
  transition: $trans-default;
}

.about__content:has(.is-active) p:last-of-type {
  height: auto;
  opacity: 1;
  font-size: 16px;
  margin-bottom: 15px;
}

.about__content h2 {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.about__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.about__content button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: $color-page-blue;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $color-page-blue;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;
  min-width: 180px;
  min-height: 45px;

  &::after {
    content: attr(data-button-content);
  }

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover {
      background-color: #d3d3d3;
      color: $color-default-white;
    }
  }

  &:focus {
    background-color: $color-page-white;
    border: 3px solid #1e90ff;
    color: $color-page-blue;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.about__content .is-active {
  &::after {
    content: attr(data-button-content-isactive);
  }
}
