.advantage__list {
  @include list-default;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(300px, auto) minmax(300px, auto);
  grid-gap: 30px 30px;
  margin-bottom: 120px;

  @include vp-1023 {
    grid-template-rows: minmax(320px, auto) minmax(320px, auto);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(340px, auto);
    grid-column: 0;
  }
}

.advantage__item {
  position: relative;
  padding: 40px 45px 35px;
  border: 1px solid #ebebeb;

  @include vp-1023 {
    padding: 40px 30px 35px 46px;
  }

  @include vp-767 {
    padding: 30px 30px 35px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #00b2ff;
  }
}

.advantage__item svg {
  fill: #00b2ff;
}

@media (hover: hover) {
  .advantage__item {
    &:hover {
      cursor: pointer;
      background-color: #00b2ff;
    }

    &:hover svg {
      fill: $color-page-white;
    }

    &:hover h2,
    &:hover p {
      color: $color-page-white;
    }
  }
}

.advantage__item h2 {
  color: #00b2ff;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  @include vp-767 {
    font-size: 20px;
    line-height: 140%;
  }
}

.advantage__item p {
  color: #041827;
  line-height: 135%;
}
