.advantage__list {
  @include list-default;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(300px, auto) minmax(300px, auto);
  grid-gap: 30px 30px;
  margin-bottom: 120px;

  @include vp-1023 {
    grid-template-rows: minmax(355px, auto) minmax(355px, auto);
    margin-bottom: 90px;
  }

  @include vp-767 {
    grid-template-rows: none;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(340px, auto);
    grid-column-gap: 0;
    margin-bottom: 20px;
  }
}

.advantage__item {
  position: relative;
  padding: 40px 45px 35px;
  border: 1px solid #ebebeb;

  @include vp-1023 {
    padding: 40px 35px 5px 46px;
  }

  @include vp-767 {
    padding: 30px 30px 35px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $color-page-blue;
  }
}

.advantage__item:last-child {
  @include vp-767 {
    margin-top: -10px;
  }
}

.advantage__item svg {
  fill: $color-page-blue;
}

@media (hover: hover) {
  .advantage__item {
    &:hover {
      background-color: $color-page-blue;
    }

    &:hover svg {
      fill: $color-page-white;
    }

    &:hover h2,
    &:hover p {
      color: $color-page-white;
    }
  }
}

.advantage__item h2 {
  color: $color-page-blue;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;

  @include vp-1023 {
    margin-top: 5px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 140%;
    margin-top: 5px;
  }
}

.advantage__item p {
  color: #041827;
  line-height: 135%;

  @include vp-1023 {
    margin-top: 8px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 135%;
    color: #041827;
  }
}
