.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  color: $color-page-white;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-page-white;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--black {
    min-height: 45px;
    background: #041427;
    border-radius: 3px;
    justify-content: center;
    outline: none;
    border: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover {
      color: #00b2ff;
      opacity: 0.8;
    }

    &:focus,
    &:active {
      background-color: #778899;
      border: 1px solid #00b2ff;
      color: #00b2ff;
      opacity: 0.7;
    }
  }
}
