.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: $color-page-white;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $color-page-white;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }


  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:focus {
    background-color: transparent;
    border: 3px solid #1e90ff;
    color: $color-page-blue;
  }

  &:active {
    opacity: 0.5;
  }

  @media (hover: hover),
    screen and (min-width: 0\0) {
    &:hover {
      background-color: transparent;
      color: $color-page-blue;
    }
  }

  &--blue {
    border: none;
    background-color: $color-page-blue;
    color: $color-page-white;

    &::after {
      content: attr(data-content);
    }

    @include vp-767 {
      &::after {
        content: attr(data-mobile-content);
      }
    }
  }

  &--black {
    border: none;
    min-height: 45px;
    background: #041427;
    justify-content: center;

    @media (hover: hover),
      screen and (min-width: 0\0) {
      &:hover {
        color: $color-default-black;
        outline: 3px solid $color-default-black;
      }
    }
  }
}
