.card-list {
  @include list-default;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(650px, auto);
  grid-gap: 50px 85px;
  margin-bottom: 140px;


  @include vp-1023 {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(250px, auto);
    grid-column: 0;
  }
}

.card-list h3 {
  position: relative;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: inherit;
  margin: 0;

  @include vp-767 {
    font-size: 18px;
  }
}

a[aria-label="Карточка- монтаж печатных плат."] h3 {
  & :first-of-type {
    display: none;
  }

  @include vp-1023 {
    & :first-of-type {
      display: inline-block;
    }

    & :last-of-type {
      display: none;
    }
  }
}

.card-list li {
  display: flex;
}

.card-list a {
  position: relative;
  flex-grow: 1;
  padding: 50px 40px 70px;
  background: rgb(4, 24, 39);
  color: $color-default-white;

  @include vp-1023 {
    padding: 40px 45px 70px;
  }

  &:focus,
  &:active {
    opacity: 0.5;
    outline: 2px solid $color-default-white;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
      outline: 2px solid $color-default-white;
      color: $color-page-blue;

      & div {
        background-color: $color-page-white;

        &::before {
          border: solid $color-page-blue;
          border-width: 0 2px 2px 0;
          padding: 4px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.card-list img {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}

.card-list div {
  position: absolute;
  width: 60px;
  height: 60px;
  background: $color-page-blue;
  border-radius: 3px 0 0 0;
  bottom: 0;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    border: solid $color-default-white;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(-45deg);
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}
