.checkbox-input-wrapper label {
  position: relative;
  display: block;
  padding-left: 25px;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background: #00b3ff;
    border: 1px solid $color-default-white;
    border-radius: 3px;
  }
  cursor: pointer;
}

.checkbox-input-wrapper > input[type="checkbox"]:checked + label {
  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 6px;
    left: 0;
    top: 0;
    background: url("../img/svg/check.svg") center no-repeat;
  }
}

.checkbox-input-wrapper > input[type="checkbox"]:focus + label,
.checkbox-input-wrapper > input[type="checkbox"]:active + label {
  outline: 2px solid $color-default-black;
  border-radius: 3px;
}

@media (hover: hover) {
  .checkbox-input-wrapper > input[type="checkbox"] + label:hover {
    color: $color-default-black;
  }
}
