.feedback {
  position: relative;
  background: linear-gradient(139deg, #026592 33%, $color-page-blue 33%);
  min-height: 838px;

  @include vp-1023 {
    background: $color-page-blue;
  }
}

.feedback__wrapper {
  min-height: 840px;
  display: flex;
}

.feedback__img-wrapper {
  margin-top: 250px;
  width: 510px;
  height: 285px;
  margin-right: 115px;

  @media (max-width: $vp-1280) {
    width: auto;
  }

  @include vp-1023 {
    display: none;
  }
}
