.footer-social__list {
  @include list-default;
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  padding: 30px 10px;

  @include vp-1023 {
    padding: 5px 0  15px 10px;
    min-height: 85px;
  }

  @include vp-767 {
    flex-grow: 1;
    justify-content: center;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 12px;
  }
}

.footer-social__link > svg {
  fill: $color-default-white;
}

.footer-social__link:hover {
  @media (hover: hover) {
    & svg {
      fill: $color-page-blue;
    }
  }
}

.footer-social__link:focus,
.footer-social__link:active {
  outline: 1px solid $color-page-blue;

  & svg {
    fill: $color-page-blue;
  }
}

.footer-social__link:active {
  opacity: 0.5;
}

.footer-social__wrapper {
  @include vp-1023 {
    display: flex;
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
  }
}
