.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;
  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 500px;
    min-height: 610px;
    padding: 40px;
    background: #00b3ff;
    color: $color-default-white;
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    background: $color-transparent;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline: 2px solid $color-default-black;
      border-radius: 3px;
    }

    @media (hover: hover),
      screen and (min-width: 0\0) {
      &:hover {
        & > svg {
          stroke: $color-default-black;
        }
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
}

.modal__form input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  padding: 15px;

  &::placeholder {
    font-family: $ff-mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.modal__form label,
.modal__form textarea,
.modal__form button {
  flex-basis: 100%;
}

.checkbox-input-wrapper label {
  padding-left: 10px;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.modal__form textarea {
  min-height: 155px;
  padding: 25px 15px;
  margin-bottom: 25px;
  border: none;
}

.modal h2 {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.62%;
  margin: 0;
  margin-bottom: 15px;
}

.modal p {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.modal__submit-btn {
  margin-bottom: 20px;
}

.checkbox-input-wrapper {
  position: relative;
  padding-left: 20px;
  align-self: end;
}

.checkbox-input-wrapper span {
  position: absolute;
  left: 0;
  top: 3px;
  width: 15px;
  height: 15px;
  background: #00b3ff;
  border: 1px solid $color-default-white;
  border-radius: 3px;
}

input[type="checkbox"]:checked + span {
  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 6px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url("../../img/svg/check.svg") center no-repeat;
  }
}
