.our-office__list {
  @include list-default;
  font-family: "Pt Mono",
    "Monaco",
    monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
}

.our-office > .our-office__list .our-office__item {
  margin-bottom: 10px;
}
//  переопределение стилей библиотеки accordion-js
.our-office .our-office__item:has(.our-office__tel) {
  padding: 0;
}
