.page-nav {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 20px;
  margin-bottom: -15px;

  @include vp-1023 {
    position: relative;
    padding: 0;
    margin: 0;
  }
}

.page-nav__list {
  @include list-default;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;


  @include vp-1023 {
    gap: 20px;
  }
}

.page-nav__link {
  padding: 5px;
  color: $color-page-white;
  line-height: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    padding: 10px;
  }
}

.page-nav__link svg {
  fill: $color-page-blue;
  margin-right: 15px;
}

.page-nav__link:hover svg {
  fill: $color-page-white;
}

.page-nav__link span {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: $color-page-blue;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease 0.2s;
  }
}

.page-nav__link:hover span {
  color: $color-page-blue;

  &::after {
    visibility: visible;
    transform: scaleX(1);
  }
}

.page-nav__link:focus span,
.page-nav__link:active span {
  color: $color-page-blue;
}

.page-nav__link:focus,
.page-nav__link:active {
  background-color: #d3d3d3;
  outline: 3px solid $color-page-blue;
  border-radius: 4px;
}

@include vp-1023 {
  .page-nav__link span {
    min-width: 0;
    font-size: 0;
  }

  .page-nav__link svg {
    margin: 0;
  }
}

.page-nav__container {
  display: flex;
  padding: 22px 61px 34px 0;

  @include vp-1279 {
    padding: 22px 61px 34px 0;
  }

  @include vp-1023 {
    padding: 15px 70px 25px 50px;
  }

  @include vp-767 {
    padding: 10px 35px 20px 26px;
  }
}

.page-nav__button {
  min-width: 160px;
  margin: auto 0;


  @include vp-1023 {
    display: none;
  }
}

.page-nav__item:first-child {
  margin-left: 5.8vw;

  @media (min-width: 1921px) {
    margin-left: 155px;
  }

  @include vp-1023 {
    margin-left: auto;
  }
}

.page-nav__item:nth-child(2n) {
  margin-left: 5.6vw;

  @media (min-width: 1921px) {
    margin-left: 107px;
  }

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    margin-right: 0;
  }
}
