.page-footer-accordion {
  flex-grow: 1;
}

.page-footer-accordion__wrapper {
  flex-grow: 1;
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.page-footer-accordion__one {
  flex-grow: 1;
}

.page-footer-accordion__one,
.page-footer-accordion__two {
  background: transparent;
  border: none;
  margin: 0;
  margin-right: 35px;

  @include vp-1279 {
    margin: 0;
  }

  @include vp-767 {
    padding-bottom: 20px;
    margin: 0;
  }
}

.page-footer-accordion__one a,
.page-footer-accordion__two a {
  padding: 10px;
  font-family: $ff-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);

  @media (hover: hover) {
    &:hover {
      color: $color-page-blue;
    }
  }

  &:focus {
    color: $color-page-blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer-accordion__wrapper .page-footer-accordion__btn {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  pointer-events: none;


  &::after {
    content: "";
  }

  @include vp-767 {

    padding: 20px 30px 0 10px;
    min-height: 60px;
    margin: 0;
  }
}
// переопределение стилей библиотеки accordion-js
.js-enabled .page-footer-accordion__btn {
  pointer-events: auto;

  &::after {
    content: "+";
    display: block;
    top: 65%;
  }
}

.page-footer-accordion__wrapper .js-enabled {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    height: 2px;
    background-color: rgba(248, 253, 255, 0.7);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    right: -100%;
    height: 2px;
    background-color: rgba(248, 253, 255, 0.7);
  }
}
