.page-footer {
  background-color: #041827;
  min-height: 280px;
  padding: 55px 0 35px 0;

  @include vp-1023 {
    min-height: 465px;
    padding-top: 50px;
  }

  @include vp-767 {
    min-height: 475px;
    padding-top: 35px;
  }
}

.page-footer__link {
  padding-left: 0;
}

.page-footer__wrapper {
  display: flex;

  @include vp-1023 {
    flex-wrap: wrap;
  }
}

.page-footer__list {
  @include list-default;
  max-width: 215px;

  @include vp-1023 {
    max-width: none;
    flex-basis: 100%;
  }
}

.page-footer__list:first-child {
  margin-right: 30px;

  @include vp-1023 {
    margin: 0;
    padding: 0;
  }
}

.page-footer__link-wrapper {
  display: flex;
  flex-wrap: nowrap;

  @include vp-1023 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.page-footer__social {
  max-width: 215px;
  margin-right: 7.8vw;

  @include vp-1279 {
    margin-right: 3.8vw;
  }

  @include vp-1023 {
    margin-right: 0;
    max-width: none;
    flex-basis: 100%;
    flex-grow: 1;
  }
}

.page-footer__logo {
  min-width: 215px;
  width: 215px;
  height: 55px;

  @include vp-767 {
    margin: 0 auto;
  }
}
//  переопределение стилей библиотеки accordion-js
.page-footer__list .page-footer__item:has(.page-footer__link) {
  padding: 0;
}

.page-footer .page-footer__title {
  margin-left: -9px;
  margin-bottom: 10px;
}

.page-footer__link-wrapper > .page-footer__list .page-footer__item {
  margin-bottom: 7px;
}
