.page-footer {
  background-color: #041827;
  min-height: 280px;
  padding: 55px 0 35px 0;

  @include vp-1023 {
    min-height: 465px;
    padding-top: 50px;
  }

  @include vp-767 {
    min-height: 475px;
    padding-top: 35px;
  }
}

.page-footer__wrapper {
  display: flex;

  @include vp-1023 {
    flex-wrap: wrap;
  }
}

.page-footer__list {
  @include list-default;
  display: inline-block;
  vertical-align: top;

  @include vp-1023 {
    display: block;
  }
}

.page-footer__list:first-child {
  margin-right: 10px;
}

.page-footer-accordion__wrapper .page-footer__btn {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 20px;
  pointer-events: none;

  &::after {
    content: "";
  }

  @include vp-767 {

    padding: 20px 30px 0 10px;
    min-height: 60px;
    margin: 0;
  }
}

.js-enabled .page-footer__btn {
  pointer-events: auto;

  &::after {
    content: "+";
    display: block;
    top: 65%;
  }
}

.page-footer__social {
  margin-right: 8.4vw;

  @include vp-1023 {
    flex-basis: 100%;
    flex-grow: 1;
    margin: 0;
  }
}

.page-footer__logo {
  width: 215px;
  height: 55px;

  @include vp-767 {
    margin: 0 auto;
  }
}

.page-footer-accordion__wrapper .js-enabled {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    height: 2px;
    background-color: rgba(248, 253, 255, 0.7);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    right: -100%;
    height: 2px;
    background-color: rgba(248, 253, 255, 0.7);
  }
}
