.page-nav {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-bottom: 20px;
}

.page-nav__list {
  @include list-default;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.page-nav__link {
  padding: 5px;
  color: $color-page-white;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    padding: 10px;
  }
}

.page-nav__item:last-child {
  margin-right: 5%;

  @include vp-1023 {
    display: none;
  }
}

.page-nav__link svg {
  fill: #00b2ff;
  margin-right: 15px;
}

.page-nav__link:hover svg {
  fill: $color-page-white;
}

.page-nav__link:hover span {
  color: #00b2ff;
}

.page-nav__link:focus span,
.page-nav__link:active span {
  color: $color-default-white;
}

.page-nav__link:focus,
.page-nav__link:active {
  background-color: #778899;
  outline: 2px solid #00b2ff;
  border-radius: 4px;
}


.page-nav__link span {
  min-width: 173px;
}

@include vp-1023 {
  .page-nav__list {
    justify-content: start;
    min-height: 100px;
  }

  .page-nav__link span {
    min-width: 0;
    font-size: 0;
  }

  .page-nav__item:first-child {
    margin-right: auto;
  }

  .page-nav__link svg {
    margin: 0;
  }
}

@include vp-767 {
  .page-nav__list {
    min-height: 70px;
  }
}
