.product-cards {
  position: relative;
  background-color: #041827;

  @include vp-1023 {
    margin-bottom: -65px;
  }

  @include vp-767 {
    margin-bottom: -53px;
  }
}

.product-cards__title {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  padding: 70px 30px 50px 0;
  margin: 0;

  &::before {
    content: attr(data-title);
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
  }

  @include vp-1023 {
    padding: 50px 0 40px;
  }

  @include vp-767 {
    padding: 45px 10px 30px 0;
    font-size: 28px;
    line-height: 140.62%;

    &::before {
      content: attr(data-title-mob);
      font-size: 28px;
      line-height: 140.62%;
    }
  }
}
