.product-cards {
  position: relative;
  background-color: #041827;

  @include vp-1023 {
    margin-bottom: -65px;
  }
}

.product-cards__title {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  padding: 70px 30px 50px 0;
  margin: 0;

  @include vp-1023 {
    padding: 50px 0 40px;
  }
}
