.container {
  width: 100%;
  max-width: 1220px;
  min-width: 320px;
  margin: 0 auto;

  @include vp-1279 {
    padding: 0 30px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 26px;
  }
}
